.book_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.book_image {
  grid-column: 1;
  position: relative;
  display: block;
  margin-right: 2rem;
}

.book_details {
  grid-column: 2 / span 2;
}
